<div class="container m-3">
  <h1>Stupid Coaching</h1>
  <div class="border-start border-5 ps-3">
    <p class="mb-1"> <%= @question %> </p>
    <p> -<em><%= "You" %></em></p>
  </div>
  <div class="border-start border-5 ps-3 background-color p-2" id="background">
    <p class="fw-bold mb-1"><%= @answer %></p>
    <p> -<em><%= "Your coach" %></em></p>
  </div>
</div>
