<div class="container m-3">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <form class="input-group w-50" action="/answer" data-turbo="false">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary fw-bold" type="submit" value="Ask">
  </form>
</div>
